# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
/Packages

# Swift Package Manager
.swiftpm/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Package.resolved

# Logs
*.log

# IDEs
.idea/
.vscode/

# macOS metadata
Icon?
._*
.netrc